In [58]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as rq
import numpy as np

In [39]:
url = rq.get("http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=2022&ye=2022&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=360&si=&cn=")
soup = BeautifulSoup(url.content, 'html.parser')

In [48]:
temp = soup.find('table',id='mytable')
temp = temp.find_all('tr')
temp = [re.text.strip() for re in temp]

In [49]:
temp = pd.Series(temp)

In [50]:
temp

0      순\n이름\n팀\n정렬G타석타수득점안타2타3타홈런루타타점도루도실볼넷사구고4삼진병살희...
1                                  WAR*타율출루장타OPSwOBAwRC+
2      1이정후22키CF 9.23  142  627  553  85  193  36  10...
3      2피렐라22삼LF 7.40  141  630  561  102  192  33  4...
4      3나성범22KRF 6.50  144  649  563  92  180  39  2 ...
                             ...
424    353조세진22롯RF -0.76  39  88  86  6  16  3  0  0 ...
425    354유로결22한LF -0.82  30  68  60  5  8  0  0  0  ...
426    355정보근22롯C -0.91  95  226  199  8  38  2  0  1...
427    356박경수22K2B -1.01  100  194  166  13  20  3  0...
428    357김헌곤22삼CF -1.58  80  239  224  18  43  8  0 ...
Length: 429, dtype: object

In [51]:
temp = temp[~temp.str.match("[순W]")].reset_index(drop=True)

In [52]:
temp

0      1이정후22키CF 9.23  142  627  553  85  193  36  10...
1      2피렐라22삼LF 7.40  141  630  561  102  192  33  4...
2      3나성범22KRF 6.50  144  649  563  92  180  39  2 ...
3      4오지환22LSS 5.77  142  569  494  75  133  16  4 ...
4      5최정22S3B 5.15  121  505  414  80  110  21  0  ...
                             ...
352    353조세진22롯RF -0.76  39  88  86  6  16  3  0  0 ...
353    354유로결22한LF -0.82  30  68  60  5  8  0  0  0  ...
354    355정보근22롯C -0.91  95  226  199  8  38  2  0  1...
355    356박경수22K2B -1.01  100  194  166  13  20  3  0...
356    357김헌곤22삼CF -1.58  80  239  224  18  43  8  0 ...
Length: 357, dtype: object

In [55]:
temp = temp.apply(lambda x: pd.Series(x.split(" ")))

In [56]:
temp

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,1이정후22키CF,9.23,,142,,627,,553,,85,...,,.996,,.441,,182.5,,9.23,,6.72
1,2피렐라22삼LF,7.40,,141,,630,,561,,102,...,,.976,,.434,,169.3,,7.40,,4.20
2,3나성범22KRF,6.50,,144,,649,,563,,92,...,,.910,,.411,,157.4,,6.50,,3.74
3,4오지환22LSS,5.77,,142,,569,,494,,75,...,,.827,,.372,,138.6,,5.77,,2.56
4,5최정22S3B,5.15,,121,,505,,414,,80,...,,.891,,.400,,145.4,,5.15,,3.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,353조세진22롯RF,-0.76,,39,,88,,86,,6,...,,.416,,.192,,5.7,,-0.76,,-0.64
353,354유로결22한LF,-0.82,,30,,68,,60,,5,...,,.333,,.164,,-11.4,,-0.82,,-1.05
354,355정보근22롯C,-0.91,,95,,226,,199,,8,...,,.466,,.218,,24.1,,-0.91,,-1.78
355,356박경수22K2B,-1.01,,100,,194,,166,,13,...,,.427,,.213,,21.9,,-1.01,,-2.16
356,357김헌곤22삼CF,-1.58,,80,,239,,224,,18,...,,.465,,.217,,24.6,,-1.58,,-2.24

In [59]:
temp = temp.replace('',np.nan).dropna(axis=1)

In [61]:
temp

,0,1,3,5,7,9,11,13,15,17,...,25,27,29,31,33,35,37,39,53,55
0,1이정후22키CF,9.23,142,627,553,85,193,36,10,23,...,0,66,5,12,32,10,0,3,9.23,6.72
1,2피렐라22삼LF,7.40,141,630,561,102,192,33,4,28,...,5,55,12,12,81,19,0,2,7.40,4.20
2,3나성범22KRF,6.50,144,649,563,92,180,39,2,21,...,1,64,17,6,137,7,0,5,6.50,3.74
3,4오지환22LSS,5.77,142,569,494,75,133,16,4,25,...,7,62,7,2,107,11,3,3,5.77,2.56
4,5최정22S3B,5.15,121,505,414,80,110,21,0,26,...,5,66,19,3,96,6,0,6,5.15,3.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,353조세진22롯RF,-0.76,39,88,86,6,16,3,0,0,...,1,1,0,0,25,4,1,0,-0.76,-0.64
353,354유로결22한LF,-0.82,30,68,60,5,8,0,0,0,...,0,4,1,0,9,1,3,0,-0.82,-1.05
354,355정보근22롯C,-0.91,95,226,199,8,38,2,0,1,...,0,14,2,0,55,4,10,1,-0.91,-1.78
355,356박경수22K2B,-1.01,100,194,166,13,20,3,0,3,...,0,24,1,0,70,3,2,1,-1.01,-2.16
356,357김헌곤22삼CF,-1.58,80,239,224,18,43,8,0,1,...,1,9,1,0,22,10,2,3,-1.58,-2.24